# Discord Bot Token
TOKEN=
# Thumbnail for embedded messages
THUMBNAIL=
# Timeout for memcache
CACHE_TTL=
# Max retry count for task Quee
DEFAULT_RETRIES=
# Delay between each retries for task Queue
DEFAULT_DELAY=

# Only Required if Dynamolocal is used
REGION=
ENDPOINT=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=